.md-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.md-shadow-bottom-z-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

md-radio-button {
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer; }

md-radio-group {
  border: 1px dotted transparent;
  display: inline-block;
  outline: none; }

.md-radio-container {
  box-sizing: border-box;
  position: relative;
  top: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.md-radio-off {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: solid 2px;
  border-radius: 50%;
  -webkit-transition: border-color ease 0.28s;
          transition: border-color ease 0.28s; }

.md-radio-on {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform ease 0.28s;
          transition: transform ease 0.28s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }
  .md-radio-checked .md-radio-on {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55); }

.md-radio-label {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  white-space: normal;
  width: auto; }

.md-radio-root {
  display: block;
  cursor: pointer; }

.md-radio-off {
  border-color: rgba(0, 0, 0, 0.54); }

.md-radio-on {
  background-color: rgba(255, 82, 82, 0.87); }

.md-radio-checked .md-radio-off {
  border-color: rgba(255, 82, 82, 0.87); }

p md-radio-group:not([disabled]) md-radio:not([disabled]).md-primary .md-radio-on {
  background-color: rgba(63, 81, 181, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-primary.md-radio-checked .md-radio-off {
  border-color: rgba(63, 81, 181, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-primary.md-radio-checked .md-ink-ripple {
  color: rgba(63, 81, 181, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-primary .md-radio-container .md-ripple {
  color: #3949ab; }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-warn .md-radio-on {
  background-color: rgba(244, 67, 54, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-warn.md-radio-checked .md-radio-off {
  border-color: rgba(244, 67, 54, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-warn.md-radio-checked .md-ink-ripple {
  color: rgba(244, 67, 54, 0.87); }
p md-radio-group:not([disabled]) md-radio:not([disabled]).md-warn .md-radio-container .md-ripple {
  color: #e53935; }

md-radio-button[disabled] .md-radio-container .md-radio-off, md-radio-button[disabled] .md-radio-container .md-radio-on, md-radio-group[disabled] md-radio-button .md-radio-container .md-radio-off, md-radio-group[disabled] md-radio-button .md-radio-container .md-radio-on {
  border-color: rgba(0, 0, 0, 0.26); }
